div.container {
	text-align: center;
	position: relative;
    top: 60px;
}
div.logo{
	margin-bottom: 178.5px;
}
div.fotter{
	width:100%;
    position:fixed;
    bottom:0px;
    text-align:center;
    z-index:9999;
}
form input {
	width: 300px;
	height: 55px;
	border-radius: 100px;
	border: solid 1px #00479f;
	border: solid 1px var(--darkish-blue);
	margin: 0 auto 20px auto;
}
form button{
	width: 300px;
	height: 55px;
	color: white;
	font-weight: bold;
	border-radius: 100px;
	border: solid 1px #00479f;
	border: solid 1px var(--darkish-blue);
	margin: 0 auto 20px auto; border-radius: 100px;
	background-color: #00479f;
	background-color: var(--darkish-blue);
}
.nextButton{
	width: 300px;
	height: 55px;
	color: white;
	font-weight: bold;
	border-radius: 100px;
	border: solid 1px #00479f;
	border: solid 1px var(--darkish-blue);
	margin: 0 auto 20px auto; border-radius: 100px;
	background-color: #00479f;
	background-color: var(--darkish-blue);
}
.userName{
	background: url(web1Assets/group-2.png)
	no-repeat scroll 10px 15px;
	padding-left:45px;
}
.password{
	background: url(web1Assets/group.png)
	no-repeat scroll 10px 15px;
	padding-left:45px;
}
div.login{
	font-size: 1em;
	outline: none;
	padding: 5px;
	display:block;
	position: relative;
	margin:10px 0;
	outline: medium none;
}

