div.container {
	text-align: center;
	position: relative;
    top: 60px;
}
div.helpButtons{
	position:absolute;
   	top:0;
   	right:0;
}
.apps{
	padding-top: 25px;
	padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    width: 105px;
  	height: 125px;
  	border:1px solid #f5f5f5;
}
.table{
	text-align:center; 
    width: 25%;
    margin-left:auto; 
    margin-right:auto;
}
.help{
	padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}
div.logo{
	margin-bottom: 86.5px;
}
div.fotter{
	width:100%;
    position:fixed;
    bottom:0px;
    text-align:center;
    z-index:9999;
}


